{% extends "base.html" %}

{% block content %}

<section class="hero">
    <h2>Minimalismo que impacta</h2>
    <p>Ropa moderna, simple y elegante.</p>
    <a href="#" class="btn">Explorar colección</a>
</section>

<section class="cards">

    <div class="card">
        <h3>Remeras</h3>
        <p>Diseño limpio y urbano</p>
    </div>

    <div class="card">
        <h3>Buzos</h3>
        <p>Comodidad y estilo</p>
    </div>

    <div class="card">
        <h3>Pantalones</h3>
        <p>Minimalismo en cada detalle</p>
    </div>

</section>

{% endblock %}